.mobile-app-page {
    padding: 50px 6vw;
    text-align: center;
}

.mobile-title {
    font-size: 32px;
    font-weight: 700;
}

.mobile-text {
    margin-top: 15px;
    font-size: 18px;
    max-width: 600px;
    margin-inline: auto;
    opacity: 0.8;
}

.mobile-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.store-btn {
    padding: 14px 24px;
    background: black;
    color: white;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.store-btn:hover {
    opacity: 0.8;
}
